@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    background-color: #DFDBD8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-button{
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #E0EFF4;
    text-decoration: none;
    border-radius: 0px;
}

.page-button:hover{
 transition-duration:300ms;
    background: #FEFAF7;
    color: #565C5E;
}



h1{
 font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #E0EFF4;
    text-decoration: none;
}


.header {
    height: 90px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    /*padding: 20px 10%;*/
    padding-left: 10%;
    padding-top: 0px;
    padding-bottom: 5px;
    background-color: #565C5E;
    border-top: 15px solid;
}

li, a, button {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #E0EFF4;
    text-decoration: none;
}
a:hover{
transition-duration: 300ms;
color: #A7D3C8;
}

#logolink {

}

.logo {
    cursor: pointer;
    height: 90px;
    width: 90px;
    margin-left: 0%;
    padding: 0px;
}

.nav-links {
    padding-right: 5px;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    color: #B5C2C7;
}


.logoblock {
    padding-right: 15px;
}
.asignout{
color: #A7D3C8;
    font-size: 0px;
    display: block;
    text-align: center;
}

.signout:hover{
transition-duration: 300ms;
color: #E0EFF4;
}

.signout{
  color: #A7D3C8;
      height: 14px;
      font-size: 14px;
      text-align: center;
      padding: 0px 0px;
      background: #565C5E;
      border: 0 none;
      cursor: pointer;
      /* -webkit-border-radius: 5px; */
      /* border-radius: 5px; */
      font-family: 'Russo One', sans-serif;

}
.autho:hover{
transition-duration: 300ms;
color: #E0EFF4;
}

.reg:hover{
transition-duration: 300ms;
color: #A7D3C8;
}

button {
    padding: 9px 25px;
    background-color: #565C5E;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}



.header button:hover{
transition-duration: 300ms;
color: #A7D3C8;
}


#catalog {
    font-size: 18px;
    font-weight: 400;
    margin-left: 0px;
}

.autho {
    color: #A7D3C8;
    font-size: 14px;
    display: block;
    text-align: center;
}

.registration {
    padding-top: 13px;
}


@media screen and (max-width: 500px) {
    .header li {
        display: block;
        text-align: left;
    }

    #catalog {
        margin-left: 0px;
    }

    .logo {
        margin-left: 0%;
    }
}

/*.....*/
/*.....*/
/*.....*/
/*.....*/
footer {
    width: 100%;
    height: auto;
    background-color: #686E70;
    text-align: center;
    padding-top: 25px;
    margin-top: auto;
}

footer a {
    color: #E0EFF4;
    font-size: 14px;
    margin-left: 10px;
}

.imgfooter {
    width: 50px;
    height: 50px;
}

footer p {
    color: #E0EFF4;
    font-size: 14px;
}

.vk {
    width: 50px;
    height: 50px
}

/*.....*/
/*.....*/
/*.....*/
/*.....*/

registration {
    display: flex;
    padding: 10px;
    height: 70vh;
    justify-content: center;
    align-items: center;
    background-color: #DFDBD8;
}

.registration-container {
    margin-right: 30%;
    max-width: 700px;
    width: 40%;
    background-color: #686E70;
    padding: 25px 30px;
}

.registration-container .title {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #E0EFF4;
    text-decoration: none;
    text-align: center;
}

/*.registration-container .title::before{
content: '';
position:absolute;
left:0;
bottom:0;
height:3px;
width:30px;
background:#E0EFF4;
}*/

.registration-container form .user-details {
    /*display:flex;*/
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    width: 70%;
    margin: 20px 0 12px 0;
}

.user-details .input-box .details {
    display: block;
    font-family: 'Russo One', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #E0EFF4;
    text-decoration: none;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 30px;
    width: 100%;
    outline: none;
    border: 1px solid;
    padding-left: 15px;
    font-size: 14px;
}

.confirm {
    padding-bottom: 10px;
    display: block;
    text-align: center;
}

.confirm button {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #E0EFF4;
    text-decoration: none;
    border-radius: 0px;

}

.confirm button:hover {
  transition-duration:300ms;
     background: #FEFAF7;
     color: #565C5E;

}

.reg-autho {
    display: block;
    text-align: center;
}

.reg-autho a {
    color: #A7D3C8;
    font-size: 14px;
    display: block;
    text-align: center;
}

/***/
/***/
/***/
blog {
    display: flex;
    padding: 10px 0px 10px 50px;
    background-color: #DFDBD8;
}


.posts-container {
    margin-right: 30%;
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
}
.blog-title{
    text-align:center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    width: 100%;
    background-color: #686E70;
}
.blog-post {
    margin-bottom: 70px;
    width: 100%;
    background-color: #686E70;
}

.blog-post h3 {
    padding: 10px 10px 10px 10px;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #E0EFF4;
    text-decoration: none;
}

.blog-post button {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #E0EFF4;
    text-decoration: none;
    border-radius: 0px;
}

.blog-post p {
    padding: 10px 10px 10px 10px;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #E0EFF4;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-post a {
    float: right;
}

.blog-read {
    float: right;
    width: 100%;
    background: #686E70;
}

.blog-read button:hover {
    transition-duration:300ms;
    background: #FEFAF7;
    color: #565C5E;
}

.blog-title button{
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #E0EFF4;
    text-decoration: none;
    border-radius: 0px;
}

.blog-title button:hover{
transition-duration:300ms;
 background: #FEFAF7;
color: #565C5E;
}

/*****/
/*****/
/*****/
/*****/
/*****/


catalog {
    display: flex;
    padding: 10px 0px 10px 50px;
    background-color: #DFDBD8;
}

.pages-container{
    display: flex;
    padding: 10px 0px 10px 50px;
    background-color: #686E70;
}

.search{
text-align:center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    width: 100%;
    background-color: #686E70;
}

.product-title{
    text-align:center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    width: 100%;
    background-color: #686E70;
}

.products-container{
    display: inline-grid;

    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
}
.product-description-box{
}
.product-post {
padding-top:15px;
    margin-bottom: 30px;
    width: 100%;
    background-color: #686E70;
}

.product-post h3 {
    padding: 15px 10px 10px 10px;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #E0EFF4;
    text-decoration: none;
}

.product-post button {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #E0EFF4;
    text-decoration: none;
    border-radius: 0px;
}

.product-post button:hover {
   transition-duration:300ms;
      background: #FEFAF7;
      color: #565C5E;
}

.product-post p {
    padding: 10px 10px 10px 0px;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #E0EFF4;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-post a {
    float: right;
}

.product-read {
    float: right;
    background: #686E70;
}
.product-image{
padding: 10px 15px 8px 10px;
float:left;
width:100px;
height:100px;
}

.product-image-box{

}

.searchbutton{
 font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #E0EFF4;
    text-decoration: none;
    border-radius: 0px;
}

.searchbutton:hover{
transition-duration:300ms;
      background: #FEFAF7;
      color: #565C5E;
}

/*****/
/*****/
/*****/
/*****/
/*****/

main{
display: flex;
     padding: 10px;
     height: 70vh;
     justify-content: center;
     align-items: center;
     background-color: #DFDBD8;
}




/*****/
/*****/
/*****/
/*****/
/*****/



