.header {
   overflow: hidden;
   background: #565C5E;
   height: 140px;
   width: 100%;
 }

 .header a{
 }

.header img {
    width: 100px;
    height: 100px;
    margin-left: 10%;
    margin-top: 1.5%;
}

.headermenu{
position:relative;
 }

