<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<blog>
<div class="posts-container">

    <div class="blog-post" th:each="post : ${posts}">
    <h3 th:text="${post.title}"/>
        <p th:text="${post.text}"/>
        <div class="blog-read">
        <a th:href="'/blog/' + ${post.id}"><button>ЧИТАТЬ</button></a>
        </div>
    </div>

</div>
</blog>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>