<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/catalog.js" type="text/javascript"></script>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<catalog>


    <div class="products-container">

        <div class="blog-title">

            <h1>Каталог</h1>

            <div sec:authorize="hasAuthority('ADMIN')">
                <a href="/catalog/add"><button>Добавить продукт</button></a>
            </div>

        </div>

        <div class="search">
        <input class="current-category" type="hidden" th:value="${currentCategory}">
        <form th:action="@{/catalog}" method="get">

            <input type="text" name="title" placeholder="Название">

            <select name="categoryId">
                <option th:selected="${currentCategory == null}" th:value="null">Все категории</option>
                <option th:each="category: ${categories}" th:value="${category.id}"
                        th:text="${category.title}" th:selected="${category.id == currentCategory}"></option>
            </select>
            <button type="submit" class="btn btn-success">Найти</button>
        </form>
        </div>

        <div class="product-post" th:each="product : ${catalog.products}">
            <img class="product-image" th:src="${product.imageLink}">
            <h3 th:text="${product.title}"/>
            <p th:text="${product.description}"/>
            <div class="product-read">
                <a th:href="'/product/' + ${product.id}"><button>ЧИТАТЬ</button></a>
            </div>
        </div>

        <div class="pages-container">
            <button class="page-button" th:each="i : ${#numbers.sequence(1, catalog.pagesNum)}" th:text="${i}" th:value="${i}"></button>
        </div>

    </div>


</catalog>

<footer th:insert="blocks/footer :: footer"></footer>

    </body>
</html>