<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>


<div class ="catalog-add">
  <h1>Добавить продукт</h1>
  <form th:action="@{/product}" method="post" name="product" enctype="multipart/form-data">
    <input type="hidden" name="id" th:value="${product.id}">
    <input type="text" name="title" placeholder="Название" class="form-control" th:value="${product.title}"><br>

    <textarea name="description" placeholder="Описание" class="form-control" th:text="${product.description}"></textarea><br>

    <input type="text" name="developer" placeholder="Разработчик" class="form-control" th:value="${product.developer}"><br>
    <input type="number" name="price" placeholder="Цена" class="form-control" th:value="${product.price}"><br>
    <input type="text" name="imageLink" placeholder="Ссылка на изображение" class="form-control" th:value="${product.imageLink}"><br>
    <input type="text" name="category" placeholder="Категория" class="form-control" list="categories" th:value="${product.category}">
      <datalist id="categories">
        <option th:each="category: ${categories}" th:value="${category.title}">
      </datalist>
    <br>
    <input type="text" name="developerLink" placeholder="Ссылка на сайт разработчика" class="form-control" th:value="${product.developerLink}"><br>
    <textarea name="preferences" placeholder="Системные требования" class="form-control" th:text="${product.preferences}"></textarea><br>

    <input name="file" type="file">

    <button type="submit" class="btn btn-success">Добавить</button>
  </form>

</div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>