<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class ="catalog-add">
  <h1>Добавить продукт</h1>
  <form action="/catalog/add" method="post">
    <input type="text" name="title" placeholder="Название" class="form-control"><br>

    <textarea name="description" placeholder="Текст" class="form-control"></textarea><br>

    <input type="text" name="title" placeholder="Название" class="form-control"><br>

    <button type="submit" class="btn btn-success">Добавить</button>
  </form>

</div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>