<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<contacts>
    <div class ="contacts-container">

        <div class="blog-title">
            <h1>Контакты</h1>
        </div>

        <div class="contacts-info">
            <p>Мы ВКонтакте</p>
            <p>Email: moondistr@moon.ru</p>
            <p>TBA</p>
            <p>TBA</p>



            <br> <br>
        </div>

    </div>
</contacts>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>