<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<main>

<div class ="main-catalog">
    <blog>

        <div class="posts-container">
            <div class="blog-post" th:each="entry : ${map.entrySet()}">
                <h3 th:text="${entry.key}"/> <!-- Категория -->
                <p th:each="product: ${entry.value}" th:text="${product.title}"/> <!-- Продукты -->
            </div>
        </div>
    </blog>
</div>

<div class ="main-about">

</div>

<div class ="main-contact">

</div>

</main>
<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>