<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<main>

    <div class ="main-greetings">
<h1>Добро пожаловать в Moon Distribution.</h1>
    <h2>Система цифровой дистрибуции программных продуктов.</h2>
    </div>

<div class ="main-catalog">

        <div class="main-catalog-container">

            <div class="main-product" th:each="entry : ${map.entrySet()}">
                <a th:href="'/catalog?categoryId='+${entry.key.id}"><h3 th:text="${entry.key.title}"/></a>

                <div class="main-catalog-info">


                    <div class ="main-product-image-box">
                    <img class="main-product-image"  th:each="product: ${entry.value}" th:src="${product.imageLink}">
                    </div>

                    <div class="main-product-text-box">

            <a th:href="'/product/' + ${product.id}" th:each="product: ${entry.value}" th:text="${product.title}"/></a>
                </div>
                </div>

                    </div>


            </div>
        </div>
</div>

</main>
<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>