<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<product>

    <div class="products-container">

        <div class="product-head">
            <img class="product-image" th:src="${product.imageLink}">
            <h1 th:text="${product.title}"></h1>
            <a th:href ="${product.developerLink}" class ="product-developer" th:text="${product.developer}"/>
        </div>

        <div class="blog-title" sec:authorize="hasAuthority('ADMIN')">
            <a th:href="'/product/edit/' + ${product.id}"><button>Редактировать</button></a>
        </div>

        <div class="product-description-block">
            <p th:text="${product.description}"/>
        </div>



        <div class="product-buttons">
            <a href="/catalog" class="product-catalog-button"><button>КАТАЛОГ</button></a>
            <div th:if="${product.price != null && product.price.doubleValue() != 0}">
            <p th:text="${product.price} + ' руб'"/>
                </div>
            <div style="margin-right: 15px;" th:if="${product.price == null || product.price.doubleValue() == 0}">
                <p>БЕСПЛАТНО</p>
            </div>

            <div sec:authorize="isAnonymous()" th:if="${product.price != null && product.price.doubleValue() != 0}">
                <a href="/login" class="product-download-button"><button>ПРИОБРЕСТИ</button></a>
            </div>

            <div sec:authorize="isAnonymous()" th:if="${product.price == null || product.price.doubleValue() == 0}">
                <a href="/login" class="product-download-button"><button>СКАЧАТЬ</button></a>
            </div>

            <div sec:authorize="isAuthenticated()" th:if="${product.price == null || product.price.doubleValue() == 0}">
                <a th:href="'/downloadFile?productId=' + ${product.id}" class="product-download-button"><button>СКАЧАТЬ</button></a>
                </div>


            <div sec:authorize="isAuthenticated()" th:if="${product.price != null && product.price.doubleValue() != 0}">

                <div th:switch="${paymentStatus.toString()}">
                    <a th:case="${'SUCCESS'}" th:href="'/downloadFile?productId=' + ${product.id}" class="product-download-button"><button>СКАЧАТЬ</button></a>
                    <div th:case="${'PENDING'}"><span class="purchase-waiting">ОЖИДАНИЕ ОПЛАТЫ</span></div>
                    <a target=”_blank” th:case="*" th:href="'/purchase/' + ${product.id}" class="product-download-button"><button>ПРИОБРЕСТИ</button></a>
                </div>

            </div>
        </div>

        <div class="product-preferences-block">
            <h3>Системные требования:</h3>
            <p th:text="${product.preferences}"/>
        </div>

        <div class="product-preferences-block">
            <ul>
                <li th:each="review: ${product.reviews}">
                    <h3 th:text="${review.user.login}"></h3>
                    <p th:text="${review.topic}"></p>
                    <p th:text="${review.description}"></p>
                </li>
            </ul>
        </div>
        <div sec:authorize="isAuthenticated()" th:if="${product.price == null || product.price.doubleValue() == 0 || paymentStatus.toString() == 'SUCCESS'}">
            <a th:href="'/review?productId=' + ${product.id}" class="product-download-button"><button>Оставить отзыв</button></a>
        </div>

</div>


</product>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>