<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<product>

    <div class="products-container">

        <div class="product-head">
            <img class="product-image" th:src="${product.imageLink}">
            <h1 th:text="${product.title}"></h1>
            <a th:href ="${product.imageLink}" class ="product-developer" th:text="${product.developer}"/>
        </div>

        <div class="product-description-block">
            <p th:text="${product.description}"/>
        </div>


</div>


</product>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>