<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<profile>
    <div class="profile-container">

        <div class="blog-title">

            <h1 th:text="${user.login}+' — Профиль пользователя'"/>

        </div>

    <div class="profile-userinfo">
    <h1 th:text="'Имя: ' + ${user.login}"></h1>
    </div>

        <div th:if="${payments != null && payments.size != 0}" class="profile-transaction-history">
            <h1>История транзакций</h1>
            <ul>
                <li th:each="payment: ${payments}">
                    <span th:text="${payment.id}"></span>
                    <span th:text="${payment.product.title}"></span>
                    <span th:text="${payment.status}"></span>
                </li>
            </ul>
        </div>

        <div th:if="${reviews != null && reviews.size != 0}" class="profile-transaction-history">
            <h1>История отзывов</h1>
            <ul>
                <li style="margin-bottom:15px;" th:each="review: ${reviews}">
                    <a th:href="'/product/' + ${review.product.id}" th:text="${review.product.title}"></a>
                    <h4 th:text="${review.topic}"></h4>
                    <p th:text="${review.description}"></p>
                </li>
            </ul>
        </div>

    </div>

    <div th:if="${showModerate}" sec:authorize="hasAuthority('ADMIN')" th:switch="${user.active}">
        <form th:action="'/ban/' + ${user.id}" method="post" th:case="true"><button type="submit" class="block-user-button">Заблокировать</button></form>
        <form th:action="'/unban/' + ${user.id}" method="post" th:case="false"><button type="submit" class="block-user-button">Разблокировать</button></form>
    </div>

</profile>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>