<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<registration>
<div class="registration-container">

    <div class="title">Регистрация</div>

    <div th:if="${error}">
        Такой пользователь уже зарегистрирован.
    </div>

    <form th:action="@{/reg}" method="post">
        <div class="user-details">

            <div class="input-box">
                <span class="details">Имя</span>
                <input type="text" placeholder="Введите имя" required name="login">
            </div>

            <div class="input-box">
                <span class="details">E-mail</span>
                <input type="email" placeholder="Введите e-mail" required name="email">
            </div>

            <div class="input-box">
                <span class="details">Пароль</span>
                <input type="password" placeholder="Придумайте пароль" required name="password">
            </div>

            <div class="input-box">
                <span class="details">Подтвердите пароль</span>
                <input type="password" placeholder="Повторите пароль" required name="confirm">
            </div>
        </div>
        <div class ="confirm">
            <button type ="submit" value="register">ЗАВЕРШИТЬ</button>
        </div>
            </form>

        <div class="reg-autho">
            <a id ="autho" class ="autho" href="/login">Уже зарегистрированы?</a>
        </div>
    </div>

</registration>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>