<div th:fragment="footer">

<div class ="footer">
    <nav>
        <a href="/catalog">КАТАЛОГ</a>
        <a href="/blog">О НАС</a>
        <a sec:authorize="hasAuthority('ADMIN')" href="/support-admin">ПОДДЕРЖКА</a>
        <a sec:authorize="!hasAuthority('ADMIN') && isAuthenticated()" href="/support">ПОДДЕРЖКА</a>
        <a href="/contacts">КОНТАКТЫ</a>
        <a href="/devinfo">РАЗРАБОТЧИКАМ</a>
    </nav>
    <div class="footerlogo">
        <a href="/"><img class="imgfooter" th:src="@{/img/testlogo.png}" alt="logo"></a>
    </div>
    <p>Moon Distr. 2022</p>
</div>

</div>