    <div th:fragment="header">

<div class = "header">
        <div class="logoblock">
        <a id="logolink" href="/"><img class="logo" th:src="@{/img/testlogo.png}" alt="logo"></a>
        </div>
        <nav class ="navig">
            <ul class="nav-links">
                <li><a id="catalog" href="/catalog">КАТАЛОГ</a></li>
                <li><a href="/blog">О НАС</a></li>
                <li><a href="/about">ПОДДЕРЖКА</a></li>
            </ul>
        </nav>
    <div class = registration>
        <div sec:authorize="isAuthenticated()">
            <a class="reg" href="/"><button><div sec:authentication="name"></button></a>
            <form th:action="@{/logout}" method="post">
                <a class="asignout" value="Sign Out"><input class = "signout" type="submit" value="Выход"/></a>
            </form>
        </div>
        <div sec:authorize="isAnonymous()">
    <a class="reg" href="/reg"><button>РЕГИСТРАЦИЯ</button></a>
        <a id ="autho" class ="autho" href="/login">Вход</a>
        </div>
    </div>
</div>

    </div>
