    <div th:fragment="header">

<div class = "header">
        <a id="logolink" href="/"><img class="logo" th:src="@{/img/testlogo.png}" alt="logo"></a>
        <nav>
            <ul class="nav-links">
                <li><a id="catalog" href="/blog">КАТАЛОГ</a></li>
                <li><a href="/blog/add">О НАС</a></li>
                <li><a href="/about">ПОДДЕРЖКА</a></li>
            </ul>
        </nav>
    <div class = registration>
    <a class="reg" href="/"><button>РЕГИСТРАЦИЯ</button></a>
        <a class ="autho" href="/"><button>Вход</button></a>
    </div>
</div>

    </div>
